.idea/
cmake-build-*
build
bin
external/
*.zip
__pycache__
data/*
!data/rename_files.py

CVPR21_traced/traced/*
!CVPR21_traced/traced/classes.txt
!CVPR21_traced/traced/relationships.txt

.vscode/settings.json
